.oneCottage {
    border: 1px solid gray;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
}

.acceptedP {
    background-color: green;
}

.inProgress {
    background-color: red;
}

.Pending {
    background-color: grey;
}